@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&display=swap');

.invoice-container {
  min-width: 21cm;
  max-width: 21cm;
  min-height: 29.7cm;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  background: snow url("../../assets/images/White Checkered Background.png")  center center;
  background-size: 100%;
  box-shadow: 0 5px 5px -1px rgba(0,0,0,.2), 0 8px 10px 2px rgba(0,0,0,.14), 0 2px 5px 2px rgba(0,0,0,.12);

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
      width: calc(100% - 15px);
      line-height: 0.70;
      letter-spacing: 0.07em;
      font-family: 'Montserrat', sans-serif;
      font-size: 159.113px;
      text-transform: uppercase;
      color: rgb(125, 116, 132);
      transform: translateX(6px);
    }

    &__organization-title{
      margin-top: 30px;
      font-weight: 400;
      color: rgb(150, 126, 210);
      line-height: 1.69;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.39em;
      font-size: 24.9047px;
      text-transform: uppercase;
    }

    &__organization-address {
      margin-top: 20px;
      font-weight: 400;
      color: rgb(125, 116, 132);
      line-height: 1.29;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.06em;
      font-size: 16.6031px;
      text-transform: none;
    }
  }

  &__customer-block {
    margin-top: 80px;
    width: 85%;

    &__name{
      font-weight: 700;
      font-style: normal;
      color: rgb(150, 126, 210);
      line-height: 1.19;
      letter-spacing: 0.05em;
      font-size: 35.2495px;
      text-transform: uppercase;
      font-family: 'Bebas Neue', sans-serif;
    }

    &__customer-address{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & span {
        font-weight: 400;
        font-style: normal;
        color: rgb(125, 116, 132);
        line-height: 1.29;
        letter-spacing: 0.06em;
        font-family: 'Montserrat', sans-serif;
        font-size: 14.7075px;
        text-transform: none;
      }
    }
  }

  &__invoice-details {
    width: 85%;
    margin-top: 60px;

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 10px;

      &__label {
        font-weight: 700;
        font-style: normal;
        color: rgb(150, 126, 210);
        line-height: 1.19;
        font-size: 19.1197px;
        text-transform: uppercase;
        margin-right: 15px;
      }

      &__value {
        font-weight: 400;
        font-style: normal;
        color: rgb(125, 116, 132);
        line-height: 1.139;
        letter-spacing: 0.06em;
        font-size: 14.7075px;
      }
    }
  }

  &__order-details {
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    border-bottom: 3px solid #7f54ec;

    &__table-header {
      display: flex;
      padding: 15px;
      border-radius: 2px;
      align-items: center;
      background: rgb(150, 126, 210);

      & span {
        width: 25%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        line-height: 1.19;
        font-size: 16.9136px;
        text-align: center;
        text-transform: uppercase;

        &:first-of-type {
          text-align: left !important;
        }
        &:last-of-type {
          text-align: right !important;
        }
      }
    }

    &__table-body-row {
      display: flex;
      padding: 15px;
      align-items: center;

      & span {
        width: 25%;
        font-weight: 400;
        font-style: normal;
        color: rgb(125, 116, 132);
        line-height: 1.139;
        letter-spacing: 0.06em;
        font-size: 14.7075px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;

        &:first-of-type {
          text-align: left !important;
        }
        &:last-of-type {
          text-align: right !important;
        }
      }
    }
  }

  &__footer {
    width: 90%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;

    &__row {
      margin-bottom: 10px;
      display: flex;
      width: 100%;

      &__label{
        width: 80%;
        font-weight: 700;
        font-style: normal;
        color: rgb(150, 126, 210);
        line-height: 1.19;
        font-size: 16.9136px;
        text-transform: uppercase;
        margin-right: 80px;
        text-align: right;
      }

      &__value {
        width: 20%;
        font-weight: 400;
        font-style: normal;
        color: rgb(156, 156, 156);
        line-height: 1.36;
        letter-spacing: 0.04em;
        text-align: right;
        font-size: 16.9136px;
      }

      & .extra-bold {
        font-size: 17.649px;
        margin-top: 20px;
        color: rgb(150, 126, 210);
      }
    }
  }
}

.download-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: powderblue;
  border-radius: 50%;
  padding: 8px;

  & img{
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  .invoice-container {
    transform: scale(1);
  }
}

@media (max-width: 900px) and (min-width: 800px) {
  .invoice-container {
    transform: scale(.9);
  }
}

@media (max-width: 800px) and (min-width: 700px) {
  .invoice-container {
    transform: scale(.8);
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  .invoice-container {
    transform: scale(.7);
  }
}

@media (max-width: 600px) and (min-width: 500px) {
  .invoice-container {
    transform: scale(.6);
  }
}

@media (max-width: 500px) and (min-width: 400px) {
  .invoice-container {
    transform: scale(.5);
  }
}
@media (max-width: 400px) and (min-width: 300px) {
  .invoice-container {
    transform: scale(.4);
  }
}
@media (max-width: 300px) and (min-width: 200px) {
  .invoice-container {
    transform: scale(.3);
  }
}
