@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

.order-palette {
  border-radius: 4px;
  box-shadow: 0 3px 2px -1px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 2px 3px 2px rgba(0,0,0,.12);
  padding: 20px;
  display: flex;
  margin: 20px 20px;
  width: 75vw;
  justify-content: space-between;

  &__details {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__ingredients-block {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      &__ingredient_chip{
        border: 1px solid gray;
        border-radius: 4px;
        padding: 5px;
        margin-left: 10px;
        margin-top: 5px;
        text-transform: capitalize;
        font-size: 14px;
        color: #4e4444;
        cursor: grab;
      }
    }

    &__price-block {
      margin-top: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      p {
        margin: 5px 5px 5px 0;
      }
    }

    &__status-block {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      p {
        min-width: 115px;
        margin: 5px 5px 5px 0;
      }

      & .status {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        strong {
          margin-right: 5px;
        }
      }
    }
  }

  &__burger-overview {
    display: flex;
    width: fit-content;
    margin-left: 20px;
    overflow-y: scroll;
    min-width: 80px;

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #a09c9c;
      border-radius: 20px;
      border: .5px solid gray;
    }

  }

  &:hover{
    transform: scale(1.01);
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2), 0 8px 10px 2px rgba(0,0,0,.14), 0 2px 5px 2px rgba(0,0,0,.12);
  }
}

.delete-order{
  & li {
    font-size: 14px !important;
    font-family: 'Quicksand', sans-serif;
    padding: 2px 15px !important;
  }
}