.delivery-form-container {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 2px 7px 2px rgba(0,0,0,.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 20px;

  &__header-text {
    text-align: center;
    font-size: 150%;
  }

  &__input-container {
    width: 100%;
    margin: 10px 0;

    & .MuiFormControl-root,
    &__order-button{
      width: 100%;
    }

    & .MuiInputBase-root {
      & .MuiSelect-root {
        display: flex;
        align-items: center;
      }
    }
  }
}