.MuiBackdrop-root {
  display: block !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  overflow: hidden scroll;
}

@media (min-width: 900px) {
  .MuiBackdrop-root {
    min-height: 100vh !important;
    height: max-content !important;
    min-width: 100vw !important;
    width: max-content !important;
    box-sizing: border-box;
    padding: 40px;
    position: absolute !important;
  }
}
